.course-options {
  display: flex;
  height: 100vh;
  margin: 5% 0;
}

.course-options .sidebar {
  width: 20%;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.course-options .content {
  flex-grow: 1;
  padding: 30px;
  background-color: #fff;
  overflow-y: auto;
  width: 80%;
}

.course-options .sidebar div.selected {
  font-weight: bold;
  background-color: #ddd;
}

.course-options .option {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.course-options .option div:first-child {
  width: .5rem;
}

.course-options .content .teacher {
  display: flex;
  gap: 5px;
  align-items: center;
}